:root {
  --accent: #333;
  --secondary: #fff;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  margin: 0;
}

svg {
  overflow: visible;
  vertical-align: middle;
  width: 100%;
}

#stage {
  width: 100vw;
  display: inline-block;
}



/*  Guy  */

#inner-guy {
  transform-origin: 13px;
}

.left #inner-guy {
  transform: scaleX(-1);
}

.walk #left_foot,
.walk #right_foot {
  animation: walk 0.2s infinite;
}

.walk #right_foot {
  animation-delay: 0.1s;
}

.walk #head {
  animation: walk 0.4s infinite;
  position: relative;
  z-index: 5;
}

@keyframes walk {
  50% {
    transform: translateY(-2px);
  }
}

.on #guy .accent,
.off #face {
  fill: var(--accent);
}

.on #face,
.off #guy .accent {
  fill: var(--secondary);
}



/*  Death Animation  */

#death rect {
  animation: death 0.8s infinite;
  opacity: 0;
}

@keyframes death {
  0% {
    opacity: 1;
    transform: rotate(45deg);
  }
  50% {
    opacity: 0;
    transform: rotate(0);
  }
}



/*  Goal  */

#inner-goal {
  animation: pulse 2s infinite;
  transform-origin: 12px 12px;
}

.finish #inner-goal {
  animation: none;
}

#inner-goal-finish {
  transition: transform 0.5s;
  transform-origin: 12px 12px;
}

.finish #inner-goal-finish {
  transform: scale(150);
}

@keyframes pulse {
  50% {
    transform: scale(0.7);
  }
}



/*  Swap Foreground/Background  */

.on {
  background: var(--secondary);
  color: var(--accent);
  fill: var(--accent);
}

.off {
  background: var(--accent);
  color: var(--secondary);
  fill: var(--secondary);
}

.on .dark, .off .light {
  opacity: 0.1;
}



/*  Misc  */

[hidden] {
  display: none !important;
}
